In [3]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

# !pip3 install pandas

In [7]:
# try:
# #     r = requests.get('https://www.kbb.com/honda/?intent=new')
#     r = requests.get('https://www.cars.com/shopping/results/?dealer_id=&keyword=&list_price_max=&list_price_min=&makes[]=ford&maximum_distance=20&mileage_max=&page_size=20&sort=best_match_desc&stock_type=all&year_max=&year_min=&zip=20741')
# except HTTPError as e:
#     print(e)
    
# bs = BeautifulSoup(r.content, 'html.parser')
# tbl = bs.find_all('h2')
# tbl
# pbs = bs.prettify()
# pbs
df_audi = pd.read_csv('audi.csv')
df_bmw = pd.read_csv('bmw.csv')
df_ford = pd.read_csv('ford.csv')
df_hyun = pd.read_csv('hyundi.csv')
df_merc = pd.read_csv('merc.csv')
df_toyo = pd.read_csv('toyota.csv')

combined_arr = [df_audi, df_bmw, df_ford, df_hyun, df_merc, df_toyo]
df_master = pd.concat(combined_arr)
df_master

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,tax(£)
0,A1,2017,12500,Manual,15735,Petrol,150.0,55.4,1.4,NaN
1,A6,2016,16500,Automatic,36203,Diesel,20.0,64.2,2.0,NaN
2,A1,2016,11000,Manual,29946,Petrol,30.0,55.4,1.4,NaN
3,A4,2017,16800,Automatic,25952,Diesel,145.0,67.3,2.0,NaN
4,A3,2019,17300,Manual,1998,Petrol,145.0,49.6,1.0,NaN
...,...,...,...,...,...,...,...,...,...,...
6733,IQ,2011,5500,Automatic,30000,Petrol,20.0,58.9,1.0,NaN
6734,Urban Cruiser,2011,4985,Manual,36154,Petrol,125.0,50.4,1.3,NaN
6735,Urban Cruiser,2012,4995,Manual,46000,Diesel,125.0,57.6,1.4,NaN
6736,Urban Cruiser,2011,3995,Manual,60700,Petrol,125.0,50.4,1.3,NaN
6737,Urban Cruiser,2011,4495,Manual,45128,Petrol,125.0,50.4,1.3,NaN

In [1]:
print("test")

test